@font-face
  font-family: 'Ubuntu-Regular'
  src: url('/assets/fonts/ubuntu/Ubuntu-Regular.eot')
  src: url('/assets/fonts/ubuntu/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/ubuntu/Ubuntu-Regular.woff') format('woff'),
  url('/assets/fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype'),
  url('/assets/fonts/ubuntu/Ubuntu-Regular.svg') format('svg')

@font-face
  font-family: 'Ubuntu-Medium'
  src: url('/assets/fonts/ubuntu/Ubuntu-Medium.eot')
  src: url('/assets/fonts/ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/ubuntu/Ubuntu-Medium.woff') format('woff'),
  url('/assets/fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype'),
  url('/assets/fonts/ubuntu/Ubuntu-Medium.svg') format('svg')

@font-face
  font-family: 'Ubuntu-Bold'
  src: url('/assets/fonts/ubuntu/Ubuntu-Bold.eot')
  src: url('/assets/fonts/ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/ubuntu/Ubuntu-Bold.woff') format('woff'),
  url('/assets/fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype'),
  url('/assets/fonts/ubuntu/Ubuntu-Bold.svg') format('svg')

@font-face
  font-family: 'Branding-Medium'
  src: url('/assets/fonts/branding/Branding-Medium.eot')
  src: url('/assets/fonts/branding/Branding-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/branding/Branding-Medium.woff') format('woff'),
  url('/assets/fonts/branding/Branding-Medium.ttf') format('truetype'),
  url('/assets/fonts/branding/Branding-Medium.svg') format('svg')
