html, body
  height: 100%
  width: 100%
html
  box-sizing: border-box
*, *:before, *:after
  box-sizing: inherit

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  font-family: $f-ur
  line-height: 1.5
  font-smoothing: antialiased

article, aside, details, figcaption, figure, footer, header, menu, nav, section
  display: block

html, body
  height: 100%

a img
  border: none

blockquote
  quotes: none

blockquote:before, blockquote:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

caption, th, td
  text-align: left
  font-weight: normal
  vertical-align: middle

img
  width: 100%
  height: 100%

a
  &:hover
    text-decoration: none

ul, ol
  list-style-position: inside


ul
  list-style-type: none

