/* FONTS */

$f-ur: 'Ubuntu-Regular', sans-serif
$f-um: 'Ubuntu-Medium', sans-serif
$f-ub: 'Ubuntu-Bold', sans-serif
$f-br: 'Branding-Medium',sans-serif

/* COLORS */

$c-black: #000
$c-white: #fff
$blue-gol: #1c325c
$bg-pauta: #3f3f3f

$desktop: min-width 1200px

@function toMVW($target)
    $vw-context: 320 * 0.01 * 1

    @return($target / $vw-context) * 1vw

@function toVW($target)
    $vw-context: 2560 * 0.01 * 1

    @return($target / $vw-context) * 1vw

// =flags
//   @for $i from 0 through 12
//     .flag
//       &._f#{$i * 22}
//         background-position: 0 (-$i * 22px)
//         background-image: url("assets/images/flagSP.png")
//         background-size: 100%
//         background-repeat: no-repeat

@function rem-calc($size)
    @return $size / 16 + 0em

=flags
  @for $i from 0 through 12
    .flag
      &._f#{$i+1}
        @if $i == 0
          background-position: 0 0
          background-image: url("assets/images/BANDERAS_conimagen@2x.png")
        @else
          background-position: 0 (-$i * 22px)
          background-image: url("assets/images/BANDERAS_conimagen@2x.png")
