header
  display: flex
  width: 100%
  .container
    display: flex
    flex-direction: column
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    .mat-drawer-container
      background-color: initial
      &.mat-drawer-opened
        height: 100%
      .mat-drawer
        background: #002785
  .is-mobile .toolbar
    position: fixed
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2
    background-image: url('/assets/images/bg_navMob.png')
    background-size: 100% 100%
    background-repeat: no-repeat
