<header>
  <div class="container" [class.is-mobile]="mobileQuery.matches">
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Logo1</h1>
      <h2 class="app-name">Logo2</h2>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item routerLink=".">Noticias</a>
          <a mat-list-item routerLink=".">Selección Colombia</a>
          <a mat-list-item routerLink=".">Calendario</a>
          <a mat-list-item routerLink=".">Resultados y estadísticas</a>
          <a mat-list-item routerLink=".">La Torcida</a>
          <a mat-list-item routerLink=".">Las 12 Selecciones</a>
          <a mat-list-item routerLink=".">Aqui Brasil</a>
          <a mat-list-item routerLink=".">La Otra Copa</a>
        </mat-nav-list>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
</header>
