<div class="wrapGroups">
  <div class="bg-publicidad">
    <div class="slug">Publicidad</div>
    <div id='pauta-2' class="dfp-toma"></div>
  </div>
  <section class="wrap-title">
    <div class="content-title">
      <h1 class="title">PRONOSTICADOR</h1>
      <p class="context-title">Keytar McSweeney's Williamsburg, readymade leggings try-hard 90's street art letterpress
        hoodie occupy Wes Anderson.</p>
    </div>
  </section>
  <mat-tab-group>
    <mat-tab [disabled]="!isMobile" label="Grupo A" #groupa></mat-tab>
    <mat-tab [disabled]="!isMobile" label="Grupo B" #groupb></mat-tab>
    <mat-tab [disabled]="!isMobile" label="Grupo C" #groupc></mat-tab>
  </mat-tab-group>
  <div class="group" *ngFor="let nodo of teams; index as i">
    <h2>
        {{ inputActives | json}}
    </h2>
    <section class="dat-tab-body-wrapper" [ngClass]="{'active': groupa.isActive}" [ngStyle]="{'display': !groupa.isActive ? 'none' : 'flex'}">
    <div class="groupA dat-tab-body" id="dat-tab-content-0-0">
        <div class="dat-tab-body-content">
        <div class="title-equip">
            <h3 class="number-title" *ngFor="let pos of located; index as pos">{{pos}}</h3>
        </div>
        <div class="team pais-{{item.cod}}" id="{{item.cod}}" *ngFor="let item of nodo; index as b">
            <div class="team-title">
            <div class=" flag _f{{item.cod}}"></div>
            <p>{{ item.name }}</p>
            </div>
            <div class="check-team" *ngFor="let posicion of located; index as pos">
               <input type="radio" name="radio{{item.cod}}{{b}}" class="i{{pos}}{{item.cod}}" id="{{b}}" value='{{posicion}}' (click)="onChange($event, item, i, posicion, pos)">
            </div>
        </div>
        </div>
    </div>
    </section>
  </div>
  <!-- <section class="dat-tab-body-wrapper" [ngClass]="{'active': groupb.isActive}" [ngStyle]="{'display': !groupb.isActive ? 'none' : 'flex'}">
    <div class="groupB dat-tab-body" id="dat-tab-content-0-1">
      <div class="dat-tab-body-content">
        <div class="title-equip">
          <h3 class="number-title" *ngFor="let pos of located; index as pos">{{pos}}</h3>
        </div>
        <div class="team pais-{{item.cod}}" *ngFor="let item of teams[1]; index as b">
          <div class="team-title">
            <div class=" flag _f{{item.cod}}"></div>
            <p>{{ item.name }}</p>
          </div>
          <div class="check-team" *ngFor="let posicion of located; index as pos">
            <input type="radio" name="radio{{b}}" id="{{b}}" value='{{posicion}}' (click)="onChange($event, posicion, item.name, item.cod)">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="dat-tab-body-wrapper" [ngClass]="{'active': groupc.isActive}" [ngStyle]="{'display': !groupc.isActive ? 'none' : 'flex'}">
    <div class="groupC dat-tab-body" id="dat-tab-content-0-2">
      <div class="dat-tab-body-content">
        <div class="title-equip">
          <h3 class="number-title" *ngFor="let pos of located; index as pos">{{pos}}</h3>
        </div>
        <div class="team pais-{{item.cod}}" *ngFor="let item of teams[2]; index as b">
          <div class="team-title">
            <div class=" flag _f{{item.cod}}"></div>
            <p>{{ item.name }}</p>
          </div>
          <div class="check-team" *ngFor="let posicion of located; index as pos">
            <input type="radio" name="radio{{b}}" id="{{b}}" value='{{posicion}}' (click)="onChange($event, posicion, item.name, item.cod)">
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="table_mb" *ngIf="isMobile">
    <svg width="500px" height="100%" viewBox="0 0 616 670" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="@2x" transform="translate(-11.000000, -18.000000)">
          <g id="component" transform="translate(11.000000, 15.000000)">
            <text id="Cuartos" font-family="Ubuntu-Regular, Ubuntu" font-size="18" font-weight="normal" fill="#4A4A4A">
              <tspan x="7.725" y="17">CUARTOS</tspan>
            </text>
            <text id="Cuartos" font-family="Ubuntu-Regular, Ubuntu" font-size="18" font-weight="normal" fill="#4A4A4A">
              <tspan x="525.725" y="17">CUARTOS</tspan>
            </text>
            <text id="Semis" font-family="Ubuntu-Regular, Ubuntu" font-size="18" font-weight="normal" fill="#4A4A4A">
              <tspan x="120.025" y="17">SEMIS</tspan>
            </text>
            <text id="FINAL" font-family="Ubuntu-Regular, Ubuntu" font-size="20" font-weight="normal" fill="#4A4A4A">
              <tspan x="280.84" y="297">FINAL</tspan>
            </text>
            <text id="COLOMBIA" font-family="Ubuntu-Bold, Ubuntu" font-size="36" font-weight="bold" fill="#002785">
              <tspan x="210.854" y="262">COLOMBIA</tspan>
            </text>
            <text id="CAMPEÓN" font-family="Ubuntu-Bold, Ubuntu" font-size="20" font-weight="bold" fill="#002785">
              <tspan x="258.38" y="219">CAMPEÓN</tspan>
            </text>
            <text id="3º-y-4º" font-family="Ubuntu-Regular, Ubuntu" font-size="20" font-weight="normal" fill="#4A4A4A">
              <tspan x="278.21" y="563">3º y 4º</tspan>
            </text>
            <text id="Semis" font-family="Ubuntu-Regular, Ubuntu" font-size="18" font-weight="normal" fill="#4A4A4A">
              <tspan x="442.025" y="17">SEMIS</tspan>
            </text>
            <g id="Group-5" transform="translate(196.000000, 326.000000)">
              <path d="M103.240234,19 L122.674805,19" id="Line-7" stroke="#002785" stroke-width="2" stroke-linecap="square"
                fill-rule="nonzero"></path>
              <g id="spider-final">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">-FINAL</tspan>
                </text>
                <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
              </g>
              <g id="spider-final" transform="translate(181.500000, 18.000000) scale(-1, 1) translate(-181.500000, -18.000000) translate(137.000000, 0.000000)">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">FINAL-</tspan>
                </text>
                <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
              </g>
            </g>
            <g id="parte-1" transform="translate(0.000000, 74.000000)">
              <path d="M85.9054907,36 L85.9054907,179" id="Line-6" stroke="#002785" stroke-width="2" stroke-linecap="square"
                fill-rule="nonzero"></path>
              <path d="M87.2402344,111 L95.5585938,111" id="Line-7" stroke="#002785" stroke-width="2" stroke-linecap="square"
                fill-rule="nonzero"></path>
              <g id="araña-1cdcd">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">{{p1a}}</tspan>
                </text>
                <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
              </g>
              <g id="araña-1" transform="translate(0.000000, 180.000000)">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">-</tspan>
                </text>
                <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
              </g>
              <text id="3º-B/C" font-family="BrandonGrotesque-Medium, Brandon Grotesque" font-size="24" font-weight="400"
                fill="#CCCCCC">
                <tspan x="10.4615714" y="245">3º B/C</tspan>
              </text>
              <text id="1º-A" font-family="BrandonGrotesque-Medium, Brandon Grotesque" font-size="24" font-weight="400"
                fill="#CCCCCC">
                <tspan x="22.8355714" y="65">1º A</tspan>
              </text>
            </g>
            <g id="parte-2" transform="translate(0.000000, 404.000000)">
              <path d="M85.9054907,36 L85.9054907,179" id="Line-6" stroke="#002785" stroke-width="2" stroke-linecap="square"
                fill-rule="nonzero"></path>
              <path d="M87.2402344,111 L95.5585938,111" id="Line-7" stroke="#002785" stroke-width="2" stroke-linecap="square"
                fill-rule="nonzero"></path>
              <g id="araña-1">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">-</tspan>
                </text>
                <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
              </g>
              <g id="araña-1" transform="translate(0.000000, 180.000000)">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">-</tspan>
                </text>
                <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
              </g>
              <text id="2º-B" font-family="BrandonGrotesque-Medium, Brandon Grotesque" font-size="24" font-weight="400"
                fill="#CCCCCC">
                <tspan x="22.9655714" y="245">2º B</tspan>
              </text>
              <text id="2º-A" font-family="BrandonGrotesque-Medium, Brandon Grotesque" font-size="24" font-weight="400"
                fill="#CCCCCC">
                <tspan x="22.432" y="65">2º A</tspan>
              </text>
            </g>
            <g id="araña-1" transform="translate(256.000000, 588.000000)">
              <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
              <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                <tspan x="34.6071429" y="22">-</tspan>
              </text>
              <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
            </g>
            <g id="araña-1" transform="translate(256.000000, 636.000000)">
              <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
              <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                <tspan x="34.6071429" y="22">-</tspan>
              </text>
              <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
            </g>
            <g id="parte-3" transform="translate(94.000000, 164.000000)">
              <g id="araña-1">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#CCCCCC" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Regular, Ubuntu" font-size="24" font-weight="normal" fill="#4A4A4A">
                  <tspan x="34.662" y="28">-</tspan>
                </text>
                <ellipse id="Oval" stroke="#4A4A4A" stroke-width="1.2" fill="#FFFFFF" fill-rule="nonzero" cx="85.6071429"
                  cy="18" rx="16.3928571" ry="18"></ellipse>
              </g>
              <g id="araña-1" transform="translate(0.000000, 330.000000)">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">-</tspan>
                </text>
                <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
              </g>
              <path d="M85.9054907,36 L85.9054907,330" id="Line-6" stroke="#002785" stroke-width="2" stroke-linecap="square"
                fill-rule="nonzero"></path>
              <path d="M87.2402344,183 L102,183" id="Line-7" stroke="#002785" stroke-width="2" stroke-linecap="square"
                fill-rule="nonzero"></path>
              <g id="araña-1">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">-</tspan>
                </text>
                <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
              </g>
            </g>
            <g id="parte-1" transform="translate(568.000000, 201.000000) scale(-1, 1) translate(-568.000000, -201.000000) translate(520.000000, 74.000000)">
              <path d="M85.9054907,36 L85.9054907,179" id="Line-6" stroke="#002785" stroke-width="2" stroke-linecap="square"
                fill-rule="nonzero"></path>
              <path d="M87.2402344,111 L95.5585938,111" id="Line-7" stroke="#002785" stroke-width="2" stroke-linecap="square"
                fill-rule="nonzero"></path>
              <g id="araña-1">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">-</tspan>
                </text>
                <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
              </g>
              <g id="araña-1" transform="translate(0.000000, 180.000000)">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">-</tspan>
                </text>
                <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
              </g>
              <text id="2º-C" transform="translate(35.053571, 237.000000) scale(-1, 1) translate(-35.053571, -237.000000) "
                font-family="BrandonGrotesque-Medium, Brandon Grotesque" font-size="24" font-weight="400" fill="#CCCCCC">
                <tspan x="14.0775714" y="245">2º C</tspan>
              </text>
              <text id="1º-B" transform="translate(37.303571, 57.000000) scale(-1, 1) translate(-37.303571, -57.000000) "
                font-family="BrandonGrotesque-Medium, Brandon Grotesque" font-size="24" font-weight="400" fill="#CCCCCC">
                <tspan x="19.3155714" y="65">1º B</tspan>
              </text>
            </g>
            <g id="parte-3" transform="translate(470.000000, 347.000000) scale(-1, 1) translate(-470.000000, -347.000000) translate(420.000000, 164.000000)">
              <g id="araña-1">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#CCCCCC" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Regular, Ubuntu" font-size="24" font-weight="normal" fill="#4A4A4A">
                  <tspan x="34.662" y="28">-</tspan>
                </text>
                <ellipse id="Oval" stroke="#4A4A4A" stroke-width="1.2" fill="#FFFFFF" fill-rule="nonzero" cx="85.6071429"
                  cy="18" rx="16.3928571" ry="18"></ellipse>
              </g>
              <g id="araña-1" transform="translate(0.000000, 330.000000)">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">-</tspan>
                </text>
                <circle id="Oval" stroke="#002785" stroke-width="1.2" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857"
                  cy="18" r="18"></circle>
              </g>
              <path d="M81.9054907,36 L81.9054907,330" id="Line-6" stroke="#002785" stroke-width="2" stroke-linecap="square"
                fill-rule="nonzero"></path>
              <path d="M83.2402344,183 L98,183" id="Line-7" stroke="#002785" stroke-width="2" stroke-linecap="square"
                fill-rule="nonzero"></path>
              <g id="araña-1">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">-</tspan>
                </text>
                <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
              </g>
            </g>
            <g id="parte-2" transform="translate(568.000000, 531.000000) scale(-1, 1) translate(-568.000000, -531.000000) translate(520.000000, 404.000000)">
              <path d="M85.9054907,36 L85.9054907,179" id="Line-6" stroke="#002785" stroke-width="2" stroke-linecap="square"
                fill-rule="nonzero"></path>
              <path d="M87.2402344,111 L95.5585938,111" id="Line-7" stroke="#002785" stroke-width="2" stroke-linecap="square"
                fill-rule="nonzero"></path>
              <g id="araña-1">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">-</tspan>
                </text>
                <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
              </g>
              <g id="araña-1" transform="translate(0.000000, 180.000000)">
                <path d="M0.00600645133,36 C-0.225028123,12.0285046 6.20889279,0.0427568258 19.3077692,0.0427568258 C32.4066456,0.0427568258 53.8992939,0.0285045505 83.7857143,1.42108547e-14 C91.0032654,24 90.3890887,36 81.943184,36 C73.4972794,36 46.1848869,36 0.00600645133,36 Z"
                  id="Path-3" fill="#002785" fill-rule="nonzero" opacity="0.9"></path>
                <text id="-" font-family="Ubuntu-Bold, Ubuntu" font-size="24" font-weight="bold" fill="#FFFFFF">
                  <tspan x="34.6071429" y="22">-</tspan>
                </text>
                <circle id="Oval" stroke="#002785" fill="#FFFFFF" fill-rule="nonzero" cx="87.2142857" cy="18" r="18"></circle>
              </g>
              <text id="3º-B/A" transform="translate(35.053571, 237.000000) scale(-1, 1) translate(-35.053571, -237.000000) "
                font-family="BrandonGrotesque-Medium, Brandon Grotesque" font-size="24" font-weight="400" fill="#CCCCCC">
                <tspan x="2.86957143" y="245">3º B/A</tspan>
              </text>
              <text id="1º-C" transform="translate(35.303571, 57.000000) scale(-1, 1) translate(-35.303571, -57.000000) "
                font-family="BrandonGrotesque-Medium, Brandon Grotesque" font-size="24" font-weight="400" fill="#CCCCCC">
                <tspan x="16.4275714" y="65">1º C</tspan>
              </text>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </section>

</div>
