.wrapGroups
  display: flex
  flex-wrap: wrap
  flex-direction: column
  margin-top: 10px
  position: relative
  z-index: 0
  background-image: url('/assets/images/bg_complete_mb.png')
  background-size: 100%
  .bg-publicidad
    display: inline-flex
    width: 100%
    flex-wrap: wrap
    justify-content: center
    background-color: $bg-pauta
    .slug
      width: 100%
      display: flex
      text-align: center
      font-size: rem-calc(10)
      color: $c-white
      padding: 3px 0
      justify-content: center
      letter-spacing: 1px
    .dfp-toma
      margin: 0 auto
      width: 100%
      text-align: center
      margin-bottom: 10px
      display: block
      position: relative
  .wrap-title
    display: flex
    width: 100%
    .content-title
      display: flex
      width: 100%
      flex-wrap: wrap
      justify-content: center
      padding: 0 15px
      margin-top: 15px
      .title
        display: flex
        width: 220px
        height: 44px
        background-image: url('/assets/images/mask_title.png')
        font-size: rem-calc(19)
        color: #fafafa
        font-weight: bold
        background-size: 100%
        background-repeat: no-repeat
        display: flex
        justify-content: center
        align-items: center
        font-family: $f-br
        line-height: 1px
      .context-title
        display: flex
        text-align: center
        line-height: 1.5
        margin: 12px 0
        font-size: rem-calc(16)
        color: #4a4a4a

  .mat-tab-group
    .mat-tab-header
      .mat-tab-label-container
        .mat-ink-bar
          display: none
        .mat-tab-labels
          display: inline-flex
          justify-content: space-around
          width: 100%
          .mat-tab-label
            display: inline-flex
            justify-content: space-around
            width: 30%
            background: #cfcfcf
            border-radius: 25px 0px 25px 0px
            height: 30px
            opacity: 1.2
            .mat-tab-label-content
              font-family: $f-br
              text-transform: uppercase
              font-size: rem-calc(15)
              color: $c-white
              font-weight: bold
            &#mat-tab-label-0-0
              &.mat-tab-label-active
                background: #05cddb
            &#mat-tab-label-0-1
              &.mat-tab-label-active
                background: #ffc600
            &#mat-tab-label-0-2
              &.mat-tab-label-active
                background: #63900a
  .dat-tab-body-wrapper
    margin-top: 7px
    padding: 0 6px
    .dat-tab-body
      &#dat-tab-content-0-0
        .dat-tab-body-content
          background: #05cddb
      &#dat-tab-content-0-1
        .dat-tab-body-content
          background: #ffc600
      &#dat-tab-content-0-2
        .dat-tab-body-content
          background: #63900a
      .dat-tab-body-content
        border-radius: 0px 30px 0px 30px
        .title-equip
          display: inline-flex
          width: 100%
          justify-content: flex-end
          h3
            font-size: rem-calc(10)
            text-transform: unset
            margin: 0
            display: inline-flex
            flex-wrap: wrap
            color: $c-white
            font-family: $f-ub
            width: 15%
        .team
          display: inline-flex
          width: 100%
          justify-content: space-between
          border-bottom: 1px solid rgba(255, 255, 255, 0.35)
          .team-title
            display: inline-flex
            width: 50%
            align-items: center
            position: relative
            padding-left: 15px
            +flags
            .flag
              background-image: url("assets/images/BANDERAS_conimagen@2x.png")
              width: 32px
              height: 22px
              background-repeat: no-repeat
              display: inline-flex
              background-size: 100%
              margin-right: 10px
            p
              margin: 0
              font-size: rem-calc(18)
              color: $c-white
              font-family: $f-ur
              line-height: 2.06
          .check-team
            display: inline-flex
            width: 50%
            justify-content: space-around
            align-items: center
            .select-input
              .mat-radio-button
                border-radius: 100%
                border-width: 1px
              &.mat-radio-checked
                .mat-radio-outer-circle
                  background: $c-white
                  border-radius: 100%
                  border-width: 1px
  .table_mb
    margin: 30px 0
    padding: 0 6px
    display: flex
    justify-content: center
    width: 100%
